<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Midi Hero</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <main>
      <h1>Midi Hero</h1>

      <form action="/api/process" method="POST" enctype="multipart/form-data">
        <div style="display: inline-block">
          <label class="button secondary" for="file">
            Select a midi file
            <input id="file" name="file" type="file" accept=".mid,.midi" />
          </label>
        </div>
        <input class="button" type="submit" />
      </form>

      <br />
      <div id="info" style="display: none">
        <strong>Selected file:</strong>
        <span id="selected-file"></span>
      </div>
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
