<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Midi Hero</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <main>
      <header>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid white;
          "
        >
          <div>
            <h1>MIDI</h1>
            <h1>HERO</h1>
          </div>
          <div style="text-align: right">
            <h3 style="font-weight: normal">Convert Midi Drum</h3>
            <h3 style="font-weight: normal">Files To Clone Hero</h3>
            <h3 style="font-weight: normal">Expert Drum Charts</h3>
          </div>
        </div>
      </header>
      <br />
      <br />
      <div>
        <form action="/api/process" method="POST" enctype="multipart/form-data">
          <div style="display: inline-block">
            <label class="button secondary" for="files">
              Select midi files
              <input
                id="files"
                name="files"
                type="file"
                accept=".mid,.midi"
                multiple
              />
            </label>
          </div>
          <input
            id="submit"
            class="button"
            type="submit"
            value="Convert"
            style="display: none"
          />
        </form>
      </div>

      <br />
      <div id="info" style="display: none">
        <strong>Selected files:</strong>
        <br />
        <span id="selected-files"></span>
      </div>

      <button class="button secondary" onclick="openConverted()">
        Open converted
      </button>
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
